{% extends "base.html" %}

{% block content %}
  <section class="productbox">

    <div class="product">
      <img src="/static/mocha.jpg" alt="mochacino" class="product_img">
      <h1 class="product_title">Caffè mocha</h1>
      <p class="product_txt">Caffè latte met een touch van chocola.</p>

      <div class="buttons">
        <a href="#" onclick="addtocart('mocha')" class="buybutton button">In winkelwagen</a>
        <a href="#" class="readbutton button">Read more</a>
      </div>

    </div>

    <div class="product">
      <img src="/static/pumpkin.jpg" alt="pumpkin" class="product_img">
      <h1 class="product_title">Latte Pumpkin spice</h1>
      <p class="product_txt">Koffie met kaneel, melk en aftetopt met slagroom en pumpkin spice.</p>

      <div class="buttons">
        <a href="#" onclick="addtocart('pumpkin')" class="buybutton button">In winkelwagen</a>
        <a href="#" class="readbutton button">Read more</a>
      </div>

    </div>

    <div class="product">
      <img src="/static/macchiato.jpg" alt="macchiato" class="product_img">
      <h1 class="product_title">Latte Macchiato</h1>
      <p class="product_txt">Laagjes koffie en melk, eventueel cacao poeder.</p>

      <div class="buttons">
        <a href="#" onclick="addtocart('macchiato')" class="buybutton button">In winkelwagen</a>
        <a href="#" class="readbutton button">Read more</a>
      </div>

    </div>

    <div class="product">
      <img src="/static/kroket.jpg" alt="kroket" class="product_img">
      <h1 class="product_title">Latte Krokecino</h1>
      <p class="product_txt">Een verfijnde italiaanse koffie met stukje qroqeute.</p>

      <div class="buttons">
        <a href="#" onclick="addtocart('kroket')" class="buybutton button">In winkelwagen</a>
        <a href="#" class="readbutton button">Read more</a>
      </div>

    </div>

  </section>

{% endblock %}
