{% extends "base.html" %}

{% block content %}
  <a href="/home/btw-true" class="buybutton button">Inclusief btw</a>
  <a href="/home/btw-false" class="buybutton button">Exclusief btw</a>
  <br><br>
  <section class="productbox">

    <div class="product">
      <img src="/static/mocha.jpg" alt="mochacino" class="product_img">
      <h1 class="product_title">Caffè mocha</h1>
      <h1 class="product_title">€{{ (pricing[0] * btw)|round(2, 'common') }}</h1>
      <p class="product_txt">Caffè latte met een touch van chocola.</p>

      <div class="buttons">
        <a href="#" onclick="addtocart('mocha')" class="buybutton button">Add to cart</a>
        <a href="#" class="readbutton button">Read more</a>
      </div>

    </div>

    <div class="product">
      <img src="/static/pumpkin.jpg" alt="pumpkin" class="product_img">
      <h1 class="product_title">Latte Pumpkin spice</h1>
      <h1 class="product_title">€{{ (pricing[1] * btw)|round(2, 'common') }}</h1>
      <p class="product_txt">Koffie met kaneel, melk en aftetopt met slagroom en pumpkin spice.</p>

      <div class="buttons">
        <a href="#" onclick="addtocart('pumpkin')" class="buybutton button">Add to cart</a>
        <a href="#" class="readbutton button">Read more</a>
      </div>

    </div>

    <div class="product">
      <img src="/static/macchiato.jpg" alt="macchiato" class="product_img">
      <h1 class="product_title">Latte Macchiato</h1>
      <h1 class="product_title">€{{ (pricing[2] * btw)|round(2, 'common') }}</h1>
      <p class="product_txt">Laagjes koffie en melk, eventueel cacao poeder.</p>

      <div class="buttons">
        <a href="#" onclick="addtocart('macchiato')" class="buybutton button">Add to cart</a>
        <a href="#" class="readbutton button">Read more</a>
      </div>

    </div>

    <div class="product">
      <img src="/static/kroket.jpg" alt="krokecino" class="product_img">
      <h1 class="product_title">Latte Krokecino</h1>
      <h1 class="product_title">€{{ (pricing[3] * btw)|round(2, 'common') }}</h1>
      <p class="product_txt">Een verfijnde italiaanse koffie met stukje qroqeute.</p>

      <div class="buttons">
        <a href="#" onclick="addtocart('krokecino')" class="buybutton button">Add to cart</a>
        <a href="#" class="readbutton button">Read more</a>
      </div>

    </div>

  </section>

{% endblock %}
